@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@400;700&display=swap');
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '/node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}



ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}